@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url(../src/assets/moon.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Metal Mania', cursive;
    color:white;
}
.text{
    text-align: center;
}